<div class="container">

    <div class="content">
        <div class="title">
            <h1>[SelectorDirective]</h1>
            <p>Change the profile image using the selector directive</p>
        </div>
        <div class="info-container">
            <app-info-tag title="Open">Press “i” to open the<br>selector</app-info-tag>
            <app-info-tag title="Move">Use arrows keys<br>to move the selector</app-info-tag>
            <app-info-tag title="Select">Press “enter” to select</app-info-tag>
        </div>
        <app-avatar></app-avatar>
    </div>

</div>