@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    --primary: #FFFFFF;
    --primary-rgb: 255,255,255;
    --secondary: #F8F4E1;
    --secondary-rgb: 248,244,225;
    --tertiary: #74512D;
    --tertiary-rgb: 116,81,45;
    --black: #000000;
    --black-rgb: 0,0,0;

    --red: #ff5267;
    --red-rgb: 255,82,103;
    --red-light: #fe906e;
    --red-light-rgb: 254,144,110;

    --background: var(--primary);
    --background-25: rgba(var(--primary-rgb), 0.25);
    --contrast: var(--black);
    --contrast-25: rgba(var(--black-rgb), 0.25);
    --accent: var(--tertiary);
    --accent-light: var(--secondary);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--contrast);
    font-family: "Poppins", sans-serif;
}